.ti{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 1px;
    text-align: center;
}
h1{
    text-align: center;
}

picture img{
    width: 300px;
    height: auto;
    margin: 0 auto;
    display: block;
    margin: 0 auto;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   

}
section{
    width: 300px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(192, 192, 192);
    padding: 10px;
}

footer{
    background-color: black;
}

footer p{
    color: white;
    padding: 10px;
    text-align: center;
}




